*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 200;
}

h3 {
  font-size: 2rem;
}

.heart-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #99E2D0;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  opacity: 0;
  text-align: center;
  z-index: -1;
  -webkit-animation: 3s ease-in-out opacity;
          animation: 3s ease-in-out opacity;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
    z-index: 1;
  }
  75% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    z-index: 0;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
    z-index: 1;
  }
  75% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    z-index: 0;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
}

.heart-spinner svg {
  fill: #FF79DA;
  width: 50%;
  -webkit-animation: heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    fill: #FF79DA;
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    fill: #9356DC;
  }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    fill: #FF79DA;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #9356DC;
  }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    fill: #FF79DA;
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    fill: #FF79DA;
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    fill: #9356DC;
  }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    fill: #FF79DA;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #9356DC;
  }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    fill: #FF79DA;
  }
}

header {
  width: 100%;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #353535;
  padding: 1.5rem 0;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem 0 3rem 0;
}

footer .footer-container {
  width: 90%;
  margin: 0 auto;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem 0;
}

footer a {
  color: white;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.4rem;
  font-weight: 400;
}

footer strong {
  font-weight: 400;
}

footer .fas {
  margin-right: 1rem;
}

footer .fa-hands-helping {
  font-size: 1rem;
}

main {
  width: 100%;
}

.accueil-heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.accueil-heading .accueil-heading__localisation {
  -webkit-box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.5) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  padding: 1.6rem 0;
  color: #353535;
  font-size: 1.8rem;
  font-weight: 500;
  vertical-align: middle;
}

.accueil-heading .accueil-heading__localisation p:last-child {
  padding: 0 3rem;
}

.accueil-heading .accueil-heading__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  padding: 3rem 0;
}

.accueil-heading .accueil-heading__title h1 {
  padding: 1rem 5rem;
}

.accueil-heading .accueil-heading__title h2 {
  padding: 1rem 0;
}

.accueil-heading .accueil-heading__title a {
  display: block;
  background: radial-gradient(ellipse farthest-corner at 1rem 1rem, #FF79DA 0%, #9356DC 120%);
  background-color: #FF79DA;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  color: white;
  text-decoration: none;
  margin: 2rem;
  padding: 1.6rem 3rem;
  font-weight: 500;
}

.accueil-fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
}

.accueil-fonctionnement .accueil-fonctionnement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.accueil-fonctionnement a {
  display: block;
  margin: 1rem 0;
}

.accueil-fonctionnement .accueil-fonctionnement__card {
  position: relative;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 2.5rem 0;
  width: 95%;
  margin: 0 auto;
  border-radius: 2rem;
  font-weight: 500;
}

.accueil-fonctionnement .accueil-fonctionnement__card > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2.5rem;
  width: 2.5rem;
}

.accueil-fonctionnement .accueil-fonctionnement__card .accueil-fonctionnement__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accueil-fonctionnement .accueil-fonctionnement__card .accueil-fonctionnement__content .fas {
  color: #7e7e7e;
  font-size: 2rem;
  padding: 0 3rem;
}

.accueil-restaurants {
  background-color: #f6f6f6;
  padding: 3rem 0;
}

.accueil-restaurants .accueil-restaurants__container {
  width: 90%;
  margin: 0 auto;
}

.accueil-restaurants h3 {
  padding: 2rem 0;
}

.accueil-restaurants .accueil-restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accueil-restaurants .accueil-restaurants__cards a {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

.accueil-restaurants .accueil-restaurants__cards article.accueil-restaurants__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  height: 25rem;
}

.accueil-restaurants .accueil-restaurants__cards article.accueil-restaurants__card .accueil-restaurants__card-image {
  position: relative;
  height: 72%;
}

.accueil-restaurants .accueil-restaurants__cards article.accueil-restaurants__card .accueil-restaurants__card-image img {
  border-radius: 2rem 2rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.accueil-restaurants .accueil-restaurants__cards article.accueil-restaurants__card .accueil-restaurants__card-image p {
  background-color: #99E2D0;
  color: #008766;
  border-radius: .3rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.accueil-restaurants .accueil-restaurants__cards article.accueil-restaurants__card .accueil-restaurants__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28%;
  padding: 0 1rem;
}

.accueil-restaurants .accueil-restaurants__cards article.accueil-restaurants__card .accueil-restaurants__card-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accueil-restaurants .accueil-restaurants__cards article.accueil-restaurants__card .accueil-restaurants__card-content svg {
  margin: 1rem;
  width: 3rem;
}
/*# sourceMappingURL=style.css.map */