.btn-pill{
    display: block;
    background: radial-gradient(ellipse farthest-corner at 1rem 1rem, $secondary-color 0%, $primary-color 120%);
    border-radius: 3rem;
    @include card-shadow;    
    @include font-color(100%);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem;
    padding: 1.6rem 3rem; 
    text-align: center;
    text-decoration: none;    
    &:hover{
        box-shadow: 0rem .1rem 1rem .1rem rgba(126, 126, 126, .8);
        opacity: 0.9;        
    }
    &:active, &:focus{
        background: $secondary-color;
        box-shadow: none;
    }
}

.btn-heart{
    background: none;
    border-radius: 50%;
    cursor: pointer;
    height: 100%;
    width: 100%;
    path{
        fill: transparent;
        stroke: black;
        stroke-width: 30;        
        stroke-dasharray: 0;
        stroke-dashoffset: 10;                             
    }
    &:hover path, &:focus path, &:active path{                
        animation: 2s heart-like forwards;
    }
}