.btn-pill{
    display: block;
    background: radial-gradient(ellipse farthest-corner at 1rem 1rem, $secondary-color 0%, $primary-color 120%);
    background-color: $secondary-color;
    @include card-shadow;
    border-radius: 3rem;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 2rem;
    padding: 1.6rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;        
    &:hover{
        opacity: 0.9;
        box-shadow: 0rem .1rem 1rem .1rem rgba(126, 126, 126, .8);
    }
    &:active, &:focus{
        background: $secondary-color;
        box-shadow: none;
    }
}

.btn-heart{
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    path{
        stroke: black;
        stroke-width: 30;
        fill: transparent;
        stroke-dasharray: 0;
        stroke-dashoffset: 10;                             
    }
    &:hover path, &:focus path, &:active path{                
        animation: 2s heart-like forwards;
    }
}