@keyframes opacity {
    0% {
        opacity: 1;
        z-index: 10;
    }
    75%{
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        z-index: 3;
        transform: scale(10);
    }
}

@keyframes heart {
    0% {
        fill: $secondary-color;
        transform: scale(0.95);    
    }
    5% {
        fill: $primary-color;
        transform: scale(1.1);        
    }
    39% {
        fill: $secondary-color;
        transform: scale(0.85);        
    }
    45% {
        transform: scale(1);
        fill: $primary-color;
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        fill: $secondary-color;
        transform: scale(0.9);        
    }
}        

@keyframes heart-like{
    0%{
        fill: url('#linearGradient');
        fill-opacity: 0;        
        stroke-dasharray: 90;
        stroke-dashoffset: 0;
        stroke-opacity: 1;
    }40%{
        stroke-dashoffset: 90;
    }50%{
        stroke-opacity: 0;
    }80%{
        stroke-dasharray: 0;
        stroke-dashoffset: 180;
    }100%{
        fill: url('#linearGradient');        
        fill-opacity: 1;        
        stroke: url('#linearGradient');
        stroke-dashoffset: 10;
        stroke-opacity: 1;
    }
}

@keyframes intro {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    75%{
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}