.accueil-heading{    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    .accueil-heading__localisation{
        display: flex;
        justify-content: center;
        @include background-color(92%);
        box-shadow: 0 1rem 1rem -1rem rgba(0,0,0,0.5) inset;
        @include font-color(21%);
        font-size: 1.8rem;
        font-weight: 500;
        padding: 1.6rem 0;
        vertical-align: middle;
        width: 100%;
        p:last-child{
            padding: 0 3rem;
        }
    }
    .accueil-heading__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include background-color(96%);        
        padding: 3rem 0;
        width: 100%;
        h1{
            padding: 1rem 5rem;
        }
        h2{
            padding: 1rem 0;
        }
    }
}

.accueil-fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: stretch;    
    margin: 0 auto;
    padding: 5rem 0;
    width: 90%;
    .accueil-fonctionnement__container{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        padding: 2rem 0;
        @include desktop{
            flex-flow: row wrap;
        }
    }
    a{
        display: block;
        margin: 1rem 0;
        width: 100%;
        @include desktop{
            flex-basis: 32%;
        }
        &:active .accueil-fonctionnement__card, &:focus .accueil-fonctionnement__card{
            background-color: #f5edff;
            box-shadow: none;
        }
        &:active .accueil-fonctionnement__content .fas, &:focus .accueil-fonctionnement__content .fas{
            color: $primary-color;
        }            
    }         
    .accueil-fonctionnement__card{
        position: relative;
        @include background-color(96%);
        border-radius: 2rem;
        @include card-shadow;
        font-weight: 500;        
        margin: 1rem auto;
        padding: 2.5rem 0;
        width: 95%;
        & > p{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;            
            left: 0;
            top: 50%;
            background-color: $primary-color;
            border-radius: 50%;
            color: white;height: 2.5rem;
            width: 2.5rem;
            transform: translate(-50%, -50%);
        }
    }
    .accueil-fonctionnement__content{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .fas{
            @include font-color(49%);
            font-size: 2rem;
            padding: 0 3rem;
        }    
    }
}

.accueil-restaurants{
    @include background-color(96%);
    padding: 3rem 0;
    .accueil-restaurants__container{
        margin: 0 auto;
        width: 90%;   
    }
    h3{
        padding: 2rem 0;
    }
    .accueil-restaurants__cards{
        display: flex;
        flex-flow: column wrap;
        @include desktop{
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
    article.accueil-restaurants__card{        
        position: relative;
        background-color: white;
        @include card-shadow;
        border-radius: 2rem;        
        margin: 1rem 0;        
        height: 25rem;
        width: 100%;
        @include desktop{
            flex-basis: 49%;
            height: 30rem;
        }
        a{
            display: flex;
            flex-direction: column;                     
            height: 100%;
            width: 100%;   
        }
        .accueil-restaurants__card-image{
            position: relative;
            height: 72%;
            img{
                border-radius: 2rem 2rem 0 0;
                object-fit: cover;
                overflow: hidden;
                height: 100%;
                width: 100%;
            }
            p{
                position: absolute;                
                right: 1.5rem;
                top: 1.5rem;
                background-color: $tertiary-color;
                border-radius: .3rem;
                color: #008766;                
                font-size: 1.2rem;
                font-weight: 500;
                padding: 0.6rem 1.2rem;                
            }    
        }
        .accueil-restaurants__card-content{
            display: flex;
            justify-content: space-between;
            align-items: center;            
            padding: 0 1rem;
            height: 28%;
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }            
        } 
        .form-heart{
            position: absolute;
            bottom: 10%;
            right: 7%;            
            z-index: 2;
        }
    }
}