@include restaurant($restaurants);

.restaurant__menu{
    @include background-color(92%);
    border-radius: 4rem 4rem 0 0;
    @include desktop{
        background-color: rgba(234, 234, 234, .5);
        border-radius: 4rem;
        margin: 0 auto;
        max-width: 70%;
    }
    .restaurant__menu-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;        
        width: 90%;
    }
    .btn-pill{
        width: 50%;
    }
}

.restaurant__menu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 3rem 0;
    width: 100%;
    h1{
        font-family: $title-font;
        font-size: 2.8rem;    
        font-weight: 300;
    }
    .btn-heart{
        margin-right: 1.5rem;
    }
}

.restaurant__menu-section{    
    margin-bottom: 2rem;
    width: 100%;
    h2{    
        font-weight: 300;
        text-transform: uppercase;
        &::after{
            content: '';
            background: $tertiary-color;
            display: block;
            width: 4.5rem;
            height: 0.3rem;
            margin: .5rem 0;
        }
    }
}

@for $i from 1 through 4{
    .restaurant__card--#{$i} {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background-color: white;
        border-radius: 2rem;
        @include card-shadow;    
        font-weight: 500;
        margin: 1.5rem auto;
        opacity: 0;
        overflow: hidden;
        width: 100%;
        transform: translateY(2rem);
        animation: 1500ms intro 2000ms+$i*250 ease-in-out forwards;    
        &:hover .restaurant__card-price::after, &:active .restaurant__card-price::after, &:focus .restaurant__card-price::after{
            transform: translateX(0);
            transform-origin: right;
            width: 7rem;           
        }
        &:hover .restaurant__card-icon, &:active .restaurant__card-icon, &:focus .restaurant__card-icon{
            left: 50%;
            transform: rotate(720deg);    
        }
    }
}

.restaurant__card-infos{ 
    @include ellipsis;
    padding: 1.3rem;    
    h3{ 
        @include ellipsis;   
        font-size: 1.8rem;
        font-weight: 600;        
        margin: .5rem 0;        
    }
    p{
        @include ellipsis;
        font-size: 1.5rem;
        font-weight: 300;        
    }
}
.restaurant__card-price{
    display: flex;
    align-items: stretch;
    position: relative;
    @include font-color(21%);    
    &::after{
        background: $tertiary-color;    
        content: '';
        height: 100%;
        width: 0;
        transform: translateX(100%);  
        transition: 1s all 0.1s ease; 
    }
    div:first-child{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: auto 2rem 1.3rem auto;
    }
}
.restaurant__card-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 100%;
    color: white;
    font-size: 3rem;
    z-index: 2;    
    height: 100%;
    transition: 1s all ease;
}