@include restaurant($restaurants);

.restaurant__hero{
    width: 100%;
    height: 35vh;   
}

.restaurant__menu{
    background-color: $grey-light;
    border-radius: 4rem 4rem 0 0;
    .restaurant__menu-container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-pill{
        width: 50%;
    }
}

.restaurant__menu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 3rem 0;
    width: 100%;
    h1{
        font-size: 2.8rem;
        font-family: $shrikhand;
        font-weight: 300;
    }
    .btn-heart{
        margin-right: 1.5rem;
    }
}

.restaurant__menu-section{
    width: 100%;
    margin-bottom: 2rem;
    h2{
        text-transform: uppercase;
        font-weight: 300;
        &::after{
            content: '';
            background: $tertiary;
            display: block;
            width: 4.5rem;
            height: 0.3rem;
            margin: .5rem 0;
        }
    }
}

@for $i from 1 through 4{
    .restaurant__card--#{$i} {
        @include card-shadow;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background-color: white;
        margin: 0 auto;
        border-radius: 2rem;
        font-weight: 500;
        margin: 1.5rem auto;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        transform: translateY(2rem);
        animation: 1500ms intro 2000ms+$i*250 ease-in-out forwards;    
        &:hover .restaurant__card-price::after, &:active .restaurant__card-price::after, &:focus .restaurant__card-price::after{
            width: 7rem;
            transform: translateX(0);
            transform-origin: right;           
        }
        &:hover .restaurant__card-icon, &:active .restaurant__card-icon, &:focus .restaurant__card-icon{
            left: 50%;
            transform: rotate(720deg);    
        }
    }
}

.restaurant__card-infos{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 1.3rem;
    h3{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 600;
        font-size: 1.8rem;
        margin: .5rem 0;
    }
    p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 300;
        font-size: 1.5rem;
    }
}
.restaurant__card-price{
    color: $grey-dark;
    display: flex;
    align-items: stretch;
    position: relative;
    &::after{
        width: 0;    
        height: 100%;
        transform: translateX(100%);
        content: '';
        background: $tertiary;  
        transition: 1s all 0.1s ease; 
    }
    div:first-child{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: auto 2rem 1.3rem auto;
    }
}
.restaurant__card-icon{
    color: white;
    position: absolute;
    left: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3rem;
    transition: 1s all ease;
}