@mixin font-color ($shade: 0%, $color: $main-font-color) {
    color: lighten($color, $shade);
}

@mixin background-color ($shade: 0%, $color: $main-font-color) {
    background-color: lighten($color, $shade);
}

@mixin card-shadow{
    box-shadow: 0rem .1rem 1rem .1rem rgba(126, 126, 126, .2);
}

@mixin ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin restaurant($restaurants){
    @each $restaurant in $restaurants{
        .restaurant--#{$restaurant}{
            background: no-repeat top/110% url('../img/restaurants/#{$restaurant}.jpg');            
            padding-top: 35vh;
            @include desktop{
                background-attachment: fixed;
                padding-bottom: 35vh;
            }
        }        
    }
}

@mixin mobile{
    @media screen and (min-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}