$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$main-font-color: #000;

$main-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', cursive;

$restaurants: (a-la-francaise, la-note-enchantee, la-palette-du-gout, le-delice-des-sens);

$breakpoints: (
    mobile: 300px,
    tablet: 768px,
    desktop: 1024px
);