.form-heart{    
    height: 3rem;
    width: 3rem;
}

.form-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    input{
        display: none;
        // &:checked + span{
        //     transform: scale(2);
        // } 
    }
}